## Extract Dataset
### We are using this dataset (in output section): https://www.kaggle.com/nitinsss/extracting-useful-data-from-the-mat-files/data?select=subject_1.pkl

convert pickle to csv

In [1]:
import pickle
import pandas as pd
import os

In [2]:
input = pd.DataFrame()
output = pd.DataFrame()
for dirname, _, filenames in os.walk('/content/data'):
    for filename in filenames:
      data = pickle.load(open(dirname+'/'+filename, 'rb'))
      for i in range(1,5):
        trial = 'trial_'+ str(i)
        # print(trial)
        focussed = pd.DataFrame(data[trial]['focussed'])
        unfocussed = pd.DataFrame(data[trial]['unfocussed'])
        drowsed = pd.DataFrame(data[trial]['drowsed'])
        focussed_output = pd.DataFrame([3] * len(focussed))
        unfocussed_output = pd.DataFrame([2] * len(unfocussed))
        drowsed_output = pd.DataFrame([1] * len(drowsed))
        input = pd.concat([focussed,unfocussed, drowsed,input],axis=0)
        output = pd.concat([focussed_output,unfocussed_output, drowsed_output,output],axis=0)

In [3]:
input

                  0            1  ...            5            6
0       3992.307692  5018.974359  ...  4161.538462  4081.538462
1       3991.794872  5017.948718  ...  4157.948718  4083.076923
2       3992.820513  5014.871795  ...  4151.794872  4078.974359
3       3990.769231  5011.282051  ...  4150.769231  4073.333333
4       3989.230769  5015.384615  ...  4152.820513  4076.923077
...             ...          ...  ...          ...          ...
275243  4102.564103  5057.948718  ...  4376.923077  4040.000000
275244  4097.435897  5052.307692  ...  4380.512821  4036.923077
275245  4092.307692  5039.487179  ...  4384.102564  4032.820513
275246  4088.717949  5031.794872  ...  4378.461538  4023.589744
275247  4090.256410  5040.000000  ...  4381.538462  4022.051282

[7708184 rows x 7 columns]

In [4]:
output

        0
0       3
1       3
2       3
3       3
4       3
...    ..
275243  1
275244  1
275245  1
275246  1
275247  1

[7708184 rows x 1 columns]

merge data and export to csv

In [5]:
# input["output"] = output
# input
# input.to_csv('eeg_data.csv')